@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add smooth scrolling to the root element */
html {
    scroll-behavior: smooth;
}

/* Ensure proper offset for fixed navbar */
section {
    scroll-margin-top: 120px; /* Adjust based on navbar height */
}

@media (max-width: 480px) {
    /* Styles for small smartphones */
    .headerSection {
        width: 100% !important;
    }
    .navbar {
        width: 100% !important;
    }
    .navbarImage {
        width: 150px;
        margin-left: 20px;
    }
    .YourHealthSection {
        /* background:red; */

        padding-left: 20px;
    }
    .YourHealthSection > h1 {
        /* background:rgb(50, 27, 121); */
        width: 70% !important;
        font-size: 30px;
    }
    .YourHealthSection > img {
        /* background:rgb(50, 27, 121); */
        width: 58% !important;
        font-size: 30px;
    }
    .YourHealthSection > p {
        /* background:rgb(50, 27, 121); */
        width: 80% !important;
        font-size: 15px;
    }
    .ourServices>p{
        font-size: 35px;
        
    }
    .bookAppointmentOne>h3{
        line-height: 30px;
        font-size: 30px;
    }
    .bookAppointmentOne>img{
        width: 70%;
    }
    .bookAppointmenttwo>img{
        width: 70%;
        
    }
    .maskGroupcard{
     position: absolute;
        width: 300px;
        height: 300px;
    }
    .maskGroupcard>img{
        width: 200px;
        position: relative;
        height: 200px;
        background: #000;
        top: 20px;
        border-radius: 10px;
    }
    .ourServicesCard{
       
    }
    .ourServicesGreenCard{
        width:280px;
        height: 220px;
    }
    .ourServicesImageCard{
        width: 280px;
        height: 300px;
    }
    .ourServicesCardParent{
        margin-bottom: 0px;
      
    }
    .ourServicesImageCardThree>img{
        height: 223px;
        width: 280px;
    }
    .ConsultationsSection{
        /* background-color: #000; */
    }
    

    .ConsultationsDiv>h2{
        font-size: 42px;
        
    }
   .ConsultationsDivTwo>h1{
         font-size: 30px;
   }
 
   .NewsArticlesText{
    font-size: 35px;
   }
}
@media (min-width: 481px) and (max-width: 769px) {
    /* Styles for landscape phones and small tablets */
    .headerSection {
        width: 100% !important;
    }

    .navbarImage {
        width: 150px;
        margin-left: 20px;
    }
    .YourHealthSection {
        /* background:red; */

        padding-left: 20px;
    }
    .YourHealthSection > h1 {
        /* background:rgb(50, 27, 121); */
        width: 50% !important;
        font-size: 30px;
    }
    .YourHealthSection > img {
        /* background:rgb(50, 27, 121); */
        width: 40% !important;
        font-size: 30px;
    }
    .YourHealthSection > p {
        /* background:rgb(50, 27, 121); */
        width: 70% !important;
        font-size: 18px;
    }
    .ourServices>p{
        font-size: 35px;
        
    }
    .bookAppointmentOne>h3{
        line-height: 30px;
        font-size: 30px;
    }
    .bookAppointmentOne>img{
        width: 60%;
    }
    .bookAppointmenttwo>img{
        width: 35%;
       
    }
    .ourServicesCard{
       
        
    }
    .ourServicesGreenCard{
        width: 380px;
        height: 300px;
    }
    .ourServicesImageCard{
        width: 380px;
        height: 300px;
    }
    .ourServicesImageCardThree>img{
        height: 303px;
        width: 380px;
    }
    

    .ConsultationsDiv>h2{
        font-size: 42px;
       
    }
    .ConsultationsDivTwo>h1{
        font-size: 30px;
  }
  
   .NewsArticlesText{
    font-size: 35px;
   }
   .NewsArticles>button{
    width:90%
   }
   .NewsArticlesPtag{
    width:80%
   }
}
@media (min-width: 769px) and (max-width: 1024px) {
    /* Styles for tablets */
    .headerSection {
        width: 100% !important;
    }

    .navbarImage {
        width: 150px;
        margin-left: 20px;
    }
    .YourHealthSection {
        /* background:red; */

        padding-left: 20px;
    }
    .YourHealthSection > h1 {
        /* background:rgb(50, 27, 121); */
        width: 48% !important;
        font-size: 40px;
    }
    .YourHealthSection > img {
        /* background:rgb(50, 27, 121); */
        width: 34% !important;
        font-size: 30px;
    }
    .YourHealthSection > p {
        /* background:rgb(50, 27, 121); */
        width: 70% !important;
        font-size: 18px;
    }
    .ourServices>p{
        font-size:40px;
        
    }
    .bookAppointmentOne>h3{
        line-height: 30px;
        font-size: 35px;
    }
    .bookAppointmentOne>img{
        width: 50%;
       
    }
    .bookAppointmenttwo>img{
        width: 30%;
      
    }
  
    .ourServicesGreenCard{
        width: 380px;
        height: 300px;
    }
    .ourServicesImageCard{
        width: 380px;
        height: 300px;
    }
    .ourServicesImageCardThree>img{
        height: 303px;
        width: 380px;
    }
    

    .ConsultationsDiv>h2{
        font-size: 42px;
       
    }
    .ConsultationsDivTwo>h1{
        font-size: 30px;
  }
  
   .NewsArticlesText{
    font-size: 35px;
   }
   .NewsArticles>button{
    width:90%
   }
   .NewsArticlesPtag{
    width:80%
   }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    /* Styles for laptops and small desktops */
    .headerSection {
        width: 100% !important;
    }

    .navbarImage {
        width: 190px;
    }
    .YourHealthSection {
        /* background:red; */

        padding-left: 20px;
    }
    .YourHealthSection > h1 {
        /* background:rgb(50, 27, 121); */
        width: 45% !important;
        font-size: 50px;
    }
    .YourHealthSection > img {
        /* background:rgb(50, 27, 121); */
        width: 35% !important;
        font-size: 30px;
    }
    .ourServicesImageCardThree>img{
        height: 280px;
        width: 380px;
    }
   
       .NewsArticles>button{
        width:90%
       }
       .NewsArticlesPtag{
        width:90%
       }
}
